<header class="bg-red-500 text-white p-4 shadow-md">
  <nav class="container mx-auto flex justify-between items-center">
    <ul class="flex space-x-4">
      <li>
        <a
          href="/"
          class="<%= currentPage === 'airbnb' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >airbnb</a
        >
      </li>
       <li>
        <a
          href="/store/home-list"
          class="<%= currentPage === 'home-List' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >Home List</a
        >
      </li>
       <li>
        <a
          href="/store/getfavourity"
          class="<%= currentPage === 'My-Facourityes' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >My Favourity</a
        >
      </li>
      <li>
        <a
          href="/store/booking"
          class="<%= currentPage === 'my-Booking' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >Booking</a
        >
      </li>
       <li>
        <a
          href="/host/home-list"
          class="<%= currentPage === 'host-home-list' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >host Homes</a
        >
      </li>
      <li>
        <a
          href="/host/add-home"
          class="<%= currentPage === 'AddHome' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >Add Home</a
        >
      </li>
      
    </ul>
  </nav>
</header>
